.constructor {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-top: 100px;
}

.constructorElements {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bunTop {
  margin-left: 32px;
}

.bunBottom {
  margin-left: 32px;
}

.ingredientsList {
  max-height: 464px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ingredientItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.orderTotal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 40px;
}

.totalPrice {
  display: flex;
  align-items: center;
}

.orderButton {
  width: 215px;
}

/* Кастомный скроллбар */
.ingredientsList::-webkit-scrollbar {
  width: 8px;
}
.ingredientsList::-webkit-scrollbar-track {
  background: #2F2F37;
}
.ingredientsList::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  border-radius: 20px;
}
.constructorHover {
  box-shadow: 0 0 10px rgba(76, 76, 255, 0.5);
}

.ingredientDragging {
  opacity: 0.5;
}

.constructorHover {
  box-shadow: 0 0 10px rgba(76, 76, 255, 0.5);
  transition: box-shadow 0.3s ease;
}

.ingredientDragging {
  opacity: 0.5;
}