.constructor {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-top: 100px;
}

.constructorHover {
  box-shadow: 0 0 10px rgba(76, 76, 255, 0.5);
  transition: box-shadow 0.3s ease;
}

.bun {
  margin-left: 32px;
}

.ingredients {
  max-height: 464px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.ingredient {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: move;
}

.ingredientDragging {
  opacity: 0.5;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 40px;
}

.price {
  display: flex;
  align-items: center;
}

.error {
  color: var(--colors-interface-error);
}

/* Кастомный скроллбар */
.ingredients::-webkit-scrollbar {
  width: 8px;
}
.ingredients::-webkit-scrollbar-track {
  background: #2F2F37;
}
.ingredients::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  border-radius: 20px;
}